<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>  
      </div>
      <div class="dropdown dropdown-fixed-top dropdown-inverse">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">Learn How</a></li>
            <li><a tabindex="-1" href="#">Get Certified</a></li>
            <li><a tabindex="-1" href="#">Become a Fun Jumper </a></li>
          </ul>        
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
